astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
backcall==0.2.0
cffi==1.14.5
click==7.1.2
colorama==0.4.4
coverage==5.5
cryptography==3.4.6
decorator==4.4.2
dnspython==2.1.0
Flask==1.1.2
Flask-Cors==3.0.10
iniconfig==1.1.1
ipykernel==5.4.3
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
jupyter-client==6.1.11
jupyter-core==4.7.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mongomock==3.22.1
packaging==20.8
parso==0.8.1
passlib==1.7.4
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.10
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.7.4
PyJWT==2.0.1
pylint==2.6.0
pymongo==3.11.2
pyparsing==2.4.7
pytest==6.2.1
pytest-cov==2.11.1
pytest-mock==3.5.1
pytest-mongodb==2.2.0
python-dateutil==2.8.1
PyYAML==5.4.1
pyzmq==21.0.1
requests==2.25.1
sentinels==1.0.0
six==1.15.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1